Django==1.6
Markdown==2.3.1
South==0.8.4
WebOb==1.3.1
argparse==1.2.1
bobo==1.0.0
boto==2.21.2
daterange==0.2
django-autocomplete-light==2.0.0a8
django-dbbackup==1.80.2
django-debug-toolbar==1.0
django-jsonfield==0.9.12
django-openid-auth==0.5
django-post-office==0.6.0
django-storages==1.1.8
django-widget-tweaks==1.3
dropbox==2.0.0
httplib2==0.8
oauthlib==0.6.0
path.py==5.0
psycopg2==2.5.1
python-memcached==1.53
python-oauth2==0.4.0
python-openid==2.2.5
python-social-auth==0.1.17
pytz==2013.8
requests==2.1.0
requests-oauthlib==0.4.0
simplejson==3.3.1
six==1.4.1
smsified==0.2.1
sqlparse==0.1.10
twilio==3.6.4
unittest2==0.5.1
urllib3==1.7.1
wsgiref==0.1.2
markdown2
dj-database-url==0.2.2
dj-static==0.0.5
static==0.4
django-toolbelt
pillow
djrill
django-extra-views==0.6.5
django-braces==1.4.0