{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %} CKS Tour Management: Initialize Month {% endblock %}

{% block custom_head %}
	<link rel="stylesheet/less" type="text/css" media="all" href="{% static "app/less/form.less" %}"  />
{% endblock %}

{% block content %}
<h1>Choose a Month to Initialize</h1>

<div class="form-container form-group">
<form class="form initialize-form" role="form" method="get">

	<div class="form-group">
		<label for="id_date">Select a Month:</label>
  		<select class="form-control" id="id_date" name="date">
  			{% for value, show in choices %}
	  			<option value="{{ value }}">{{ show }}</option>
  			{% endfor %}
  		</select>
  	</div>
	
	<div class="button_container">
		<button type="submit" class="btn btn-danger">Submit</button>
	</div>

	</form>

</div>
{% endblock %}