{% extends "base.html" %}
{% load staticfiles %}
{% load app_filters %}

{% block title %} CKS Roster {% endblock %}

{% block custom_head %}
	{% with "roster" as filename %}
		<link {% if style_protocol == 'less' %} type="text/css" rel="stylesheet/less" media="all" {% else %} rel="stylesheet" {% endif %} href="{% static "app/"|add:style_protocol|add:"/"|add:filename|add:"."|add:style_protocol %}"  />
	{% endwith %}
	<script type="text/javascript">
		$(function() {
			var showing_form = false;
			$('#toggle_requirement_status_btn').click(function()
			{
				$('.status_incomplete').toggleClass('incomplete_cell');
				$('.status_complete').toggleClass('complete_cell');
				$('.status_projected').toggleClass('projected_cell');
			});

			$('#toggle_inactive_users_btn').click(function()
			{
				$('.inactive-member').toggle();
			});

			{% if perms.app.add_duespayment and perms.app.delete_duespayment and collect_dues %}
				$('#toggle_dues_payment_form_btn').click(function()
				{
					if (showing_form == false) {
						showing_form = true;
						$('.dues_payment_form').show();
						$('#submit_dues_payment_form_btn').show();
						$('.dues_payment_cell .requirement_circle').hide();
					} else {
						showing_form = false;
						$('.dues_payment_form').hide();
						$('#submit_dues_payment_form_btn').hide();
						$('.dues_payment_cell .requirement_circle').show();
					}
				});

				$('#submit_dues_payment_form_btn').click(function()
				{
					$('form').submit();
				});
			{% endif %}
		});
	</script>

	<script src="{% static "app/js/jquery.stickytableheaders.min.js" %}" type="text/javascript"></script>
	<script type="text/javascript">
	$(function(){
    	$(".roster").stickyTableHeaders({fixedOffset: $('.navbar')});
	});
	</script>


{% endblock %}

{% block content %}
<h1>
	<a class="circle-container circle-left" href="{% url 'roster-url' prev_semester.year prev_semester.semester %}">
		<div class="circle"><i class="glyphicon glyphicon-chevron-left"></i></div>
	</a>
	CKS Roster: {{ semester|title }} {{ year }}
	<a class="circle-container circle-right" href="{% url 'roster-url' next_semester.year next_semester.semester %}">
		<div class="circle"><i class="glyphicon glyphicon-chevron-right"></i></div>
	</a>
</h1>

<form method="post">
	{% csrf_token %}
	<table class="table table-striped table-bordered persist-area roster">

		<thead class="persist-header">
			<th>First</th>
			<th>Last</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Year</th>
			<th>House</th>
			{% if perms.app.change_person %}
				<th>Edit</th>
			{% endif %}
			{% if collect_dues %}
				<th>Dues</th>
			{% endif %}
			<th>Tours</th>
			<th>Shifts</th>
		</thead>

		<tbody>
			{% for person in people %}
				<tr{% if person.inactive %} class=" inactive-member"{% endif %}>
					<td>{{ person.first_name }}</td>
					<td>{{ person.last_name }}</td>
					<td>{{ person.email }}</td>
					<td>{{ person.phone|format_phone }}</td>
					<td>{{ person.year }}</td>
					<td>{% if person.house %}{{ person.house }}{% endif %}</td>
					{% if perms.app.change_person %}
						<td class="edit"><a href="{% url 'person-url' person.id %}" class="edit-btn"><span class="glyphicon glyphicon-edit"></span></a></td>
					{% endif %}
					{% if collect_dues %}
						<td class="dues {% if not person.inactive %}{{ person.dues_status }}{% endif %} dues_payment_cell">{% if not person.inactive %}{% if person.dues_status == 'status_complete' %}
							<div class="requirement_circle complete"></div>{% else %}<div class="requirement_circle empty"></div>{% endif %}
							
								{% if perms.app.add_duespayment and perms.app.delete_duespayment and collect_dues %}
									<div class="dues_payment_form">
									{{ person.dues_payment_form.person_id }} {{ person.dues_payment_form.year }} {{ person.dues_payment_form.month }} {{ person.dues_payment_form.paid }}</div>
								{% endif %}

							{% endif %}
						</td>
					{% endif %}
					<td class="tours {% if not person.inactive %}{{ person.tour_status }}{% endif %}">
						{% if not person.inactive %}
							{% if person.tours_remaining %}
								<div class="remaining">{{ person.tours_remaining }}</div>
							{% else %}
								{% if person.tour_projected_date %}
									<div class="remaining">{{ person.tour_projected_date }}</div>
								{% endif %}
							{% endif %}
							
							{% for tour in person.past_tours %}
								{% if perms.app.change_tour %}<a href="{% url 'tour-url' tour.id %}">{% endif %}
									<div data-hint="{{ tour.source }} tour on {{ tour.time|date:"m/d" }}{% if tour.missed %} (missed){% else %}{% if tour.late %} (late){% endif %}{% endif %}" class="hint hint--top requirement_circle{% if tour.missed %} missed{% else %}{% if tour.late %} late{% else %} complete{% endif %}{% endif %}"></div>
								{% if perms.app.change_tour %}</a>{% endif %}
							{% endfor %}

							{% for tour in person.upcoming_tours %}
								{% if perms.app.change_tour %}<a href="{% url 'tour-url' tour.id %}">{% endif %}
									<div data-hint="{{ tour.source }} tour on {{ tour.time|date:"m/d" }} (upcoming)" class="hint hint--top requirement_circle upcoming"></div>
								{% if perms.app.change_tour %}</a>{% endif %}
							{% endfor %}

							{% if person.tour_empties %}
								{% for i in person.tour_empties|get_range %}
									<div class="requirement_circle empty"></div>
								{% endfor %}
							{% endif %}
						{% endif %}
					</td>
						
					<td class="shifts {% if not person.inactive %}{{ person.shift_status }}{% endif %}">
						{% if not person.inactive %}
							{% if person.shifts_remaining %}
								<div class="remaining">{{ person.shifts_remaining }}</div>
							{% else %}
								{% if person.shift_projected_date %}
									<div class="remaining">{{ person.shift_projected_date }}</div>
								{% endif %}
							{% endif %}

							{% for shift in person.past_shifts %}
								{% if perms.app.change_shift %}<a href="{% url 'shift-url' shift.id %}">{% endif %}
									<div data-hint="{{ shift.source }} shift on {{ shift.time|date:"m/d" }}{% if shift.missed %} (missed){% else %}{% if shift.late %} (late){% endif %}{% endif %}" class="hint hint--top requirement_circle{% if shift.missed %} missed{% else %}{% if shift.late %} late{% else %} complete{% endif %}{% endif %}"></div>
								{% if perms.app.change_shift %}</a>{% endif %}
							{% endfor %}

							{% for shift in person.upcoming_shifts %}
								{% if perms.app.change_shift %}<a href="{% url 'shift-url' shift.id %}">{% endif %}
									<div data-hint="{{ shift.source }} shift on {{ shift.time|date:"m/d" }} (upcoming)" class="hint hint--top requirement_circle upcoming"></div>
								{% if perms.app.change_shift %}</a>{% endif %}
							{% endfor %}

							{% if person.shift_empties %}
								{% for i in person.shift_empties|get_range %}
									<div class="requirement_circle empty"></div>
								{% endfor %}
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</form>


<div class="row">
	<div class="col-sm-6 key roster-key">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Key</h3>
			</div>

			<div class="panel-body">
				<table>
					<tr><td><div class="requirement_circle complete"></div></td><td>Requirement Complete</td></tr>
					<tr><td><div class="requirement_circle upcoming"></span></td><td>Requirement Projected to Complete</td></tr>
					<tr><td><div class="requirement_circle empty"></div></td><td>Requirement Incomplete</td></tr>
					<tr><td><div class="requirement_circle late"></div></td><td>Requirement Completed (Late)</td></tr>
					<tr><td><div class="requirement_circle missed"></div></td><td>Requirement Missed</td></tr>
				</table>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Actions</h3>
			</div>
			<div class="panel-body">
				<a id="toggle_requirement_status_btn" class="btn btn-danger btn-block">Toggle Requirement Status</a>
				<a id="toggle_inactive_users_btn" class="btn btn-danger btn-block">Toggle Inactive Members</a>
				{% if perms.app.add_duespayment and perms.app.delete_duespayment and collect_dues %}
					<a id="toggle_dues_payment_form_btn" class="btn btn-danger btn-block">Toggle Dues Payment Form</a>
					<button id="submit_dues_payment_form_btn" class="btn btn-info btn-block">Submit</button>
				{% endif %}
			</div>
		</div>
	</div>

</div><!-- /.row -->
{% endblock %}