{% extends "base.html" %}
{% load staticfiles %}
{% load app_filters %}

{% block title %} CKS Roster {% endblock %}

{% block custom_head %}
	{% with "roster" as filename %}
		<link {% if style_protocol == 'less' %} type="text/css" rel="stylesheet/less" media="all" {% else %} rel="stylesheet" {% endif %} href="{% static "app/"|add:style_protocol|add:"/"|add:filename|add:"."|add:style_protocol %}"  />
	{% endwith %}
	<script type="text/javascript">
		$(function() {
			$('#toggle_requirement_status_btn').click(function()
			{
				$('.status_incomplete').toggleClass('incomplete_cell');
				$('.status_complete').toggleClass('complete_cell');
				$('.status_projected').toggleClass('projected_cell');
			});

			$('#toggle_inactive_users_btn').click(function()
			{
				$('.inactive-member').toggle();
			});
		});
	</script>
{% endblock %}

{% block content %}
<h1>
	<a class="circle-container circle-left" href="{% url 'roster-url' prev_semester.year prev_semester.semester %}">
		<div class="circle"><i class="glyphicon glyphicon-chevron-left"></i></div>
	</a>
	CKS Roster: {{ semester|title }} {{ year }}
	<a class="circle-container circle-right" href="{% url 'roster-url' next_semester.year next_semester.semester %}">
		<div class="circle"><i class="glyphicon glyphicon-chevron-right"></i></div>
	</a>
</h1>

<div class="row">
	<table class="table table-striped table-bordered roster">

		<thead>
			<th>First</th>
			<th>Last</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Year</th>
			<th>House</th>
			<th>Notes</th>
			<th>Edit</th>
			<th>Tours</th>
			<th>Shifts</th>
		</thead>

		<tbody>
			{% for person in people %}
				<tr class="{% if person.inactive %} inactive-member{% endif %}">
					<td>{{ person.first_name }}</td>
					<td>{{ person.last_name }}</td>
					<td>{{ person.email }}</td>
					<td>{{ person.phone|format_phone }}</td>
					<td>{{ person.year }}</td>
					<td>{% if person.house %}{{ person.house }}{% endif %}</td>
					<td>{{ person.notes }}</td>
					<td><a href="{% url 'person-url' person.id %}" class="edit-btn"><span class="glyphicon glyphicon-edit"></span></a></td>
					<td class="{% if not person.inactive %}{{ person.tour_status }}{% endif %}">
						{% if not person.inactive %}
							{% if person.tours_remaining %}
								<div class="remaining">{{ person.tours_remaining }}</div>
							{% else %}
								{% if person.tour_projected_date %}
									<div class="remaining">{{ person.tour_projected_date }}</div>
								{% endif %}
							{% endif %}
							
							{% for tour in person.past_tours %}

								<a href="{% url 'tour-url' tour.id %}" class="hint hint--top requirement_circle{% if tour.missed %} missed{% else %}{% if tour.late %} late{% else %} complete{% endif %}{% endif %}" data-hint="{{ tour.source }} tour on {{ tour.time|date:"m/d" }}{% if tour.missed %} (missed){% else %}{% if tour.late %} (late){% endif %}{% endif %}"></a>
							{% endfor %}

							{% for tour in person.upcoming_tours %}
								<a href="{% url 'tour-url' tour.id %}" class="hint hint--top requirement_circle upcoming" data-hint="{{ tour.source }} tour on {{ tour.time|date:"m/d" }} (upcoming)"></a>
							{% endfor %}

							{% if person.tour_empties %}
								{% for i in person.tour_empties|get_range %}
									<div class="requirement_circle empty"></div>
								{% endfor %}
							{% endif %}
						{% endif %}
					</td>
						
					<td class="{% if not person.inactive %}{{ person.shift_status }}{% endif %}">
						{% if not person.inactive %}
							{% if person.shifts_remaining %}
								<div class="remaining">{{ person.shifts_remaining }}</div>
							{% else %}
								{% if person.shift_projected_date %}
									<div class="remaining">{{ person.shift_projected_date }}</div>
								{% endif %}
							{% endif %}

							{% for shift in person.past_shifts %}
								<a href="{% url 'shift-url' shift.id %}" class="hint hint--top requirement_circle{% if shift.missed %} missed{% else %}{% if shift.late %} late{% else %} complete{% endif %}{% endif %}" data-hint="{{ shift.source }} shift on {{ shift.time|date:"m/d" }}{% if shift.missed %} (missed){% else %}{% if shift.late %} (late){% endif %}{% endif %}"></a>
							{% endfor %}

							{% for shift in person.upcoming_shifts %}
								<a href="{% url 'shift-url' shift.id %}" class="hint hint--top requirement_circle upcoming" data-hint="{{ shift.source }} shift on {{ shift.time|date:"m/d" }} (upcoming)"></a>
							{% endfor %}

							{% if person.shift_empties %}
								{% for i in person.shift_empties|get_range %}
									<div class="requirement_circle empty"></div>
								{% endfor %}
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div><!-- /.row -->

<div class="row">
	<a id="toggle_requirement_status_btn" class="btn btn-danger">Toggle Requirement Status</a>
	<a id="toggle_inactive_users_btn" class="btn btn-danger">Toggle Inactive Members</a>
</div> <!-- /.row -->
{% endblock %}