{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %} CKS Tour Management {% endblock %}

{% block custom_head %}
	<link rel="stylesheet/less" type="text/css" media="all" href="{% static "app/less/form.less" %}"  />
	<script src="{% static "app/js/jquery-ui-timepicker-addon.js" %}"></script>
	<link type="text/css" href="{% static "app/css/jquery-ui-timepicker-addon.css"%}" rel="stylesheet" />
	<script src="{% static "app/js/tours.js" %}" type="text/javascript"></script>

		<script>
$(function () { $("[data-toggle='tooltip']").tooltip(); });

	</script>
{% endblock %}

{% block content %}
<h1>Shift on {{ shift.time|date:"m/d/y" }} at {{ shift.time|date:"g:i A" }}</h1>

<div class="form-container">

	<form class="form tour-form" role="form" method="post">
	{% csrf_token %}

	<div class="form-group">
		{{ form.time.label_tag }}
  		{{ form.time|add_class:"form-control" }}
  	</div>

	<div class="form-group">
		{{ form.notes.label_tag }}
  		{{ form.notes|add_class:"form-control" }}
  	</div>

	<div class="form-group">
		{{ form.person.label_tag }}
  		{{ form.person|add_class:"form-control" }}
  	</div>

	<div class="form-group">
		{{ form.source.label_tag }}
  		{{ form.source|add_class:"form-control" }}
  	</div>

	<div class="form-group">
		{{ form.missed.label_tag }}
  		{{ form.missed|add_class:"checkbox" }}
  	</div>

  	<div class="form-group">
		{{ form.late.label_tag }}
  		{{ form.late|add_class:"checkbox" }}
  	</div>

  	<div class="form-group">
		{{ form.length.label_tag }}
  		{{ form.length|add_class:"form-control" }}
	</div>
	
	<div class="button_container">
		<button type="submit" class="btn btn-danger">Submit</button>
	</div>

	</form>

</div>
{% endblock %}