{% extends 'email/alert_base.html' %}
{% load app_filters %}

{% block meta_title %}{{ title }}{% endblock %}
{% block alert_level %}cks{% endblock %}
{% block heading %}Reminder: Shift Tomorrow{% endblock %}
{% block inner_content %}
    <tr>
        <td class="content-block">
            Hi {{ shift.person.first_name }},
        </td>
    </tr>
    <tr>
        <td class="content-block">
             This is just a reminder that you have {{ shift.source|an }} {{ shift.source }} shift tomorrow at {{ shift.time|date:"g:i A" }}.
        </td>
    </tr>
    {% if shift.notes %}
	    <tr>
	        <td class="content-block">
	        	<p><em>Extra Notes: </em>{{ shift.notes }}</p>
	        </td>
	    </tr>
	{% endif %}
    <tr>
        <td class="content-block">
            Thanks!
        </td>
    </tr>
{% endblock %}