{% extends 'email/alert_base.html' %}
{% load app_filters %}

{% block meta_title %}{{ title }}{% endblock %}
{% block alert_level %}cks{% endblock %}
{% block heading %}Reminder: Tour Tomorrow{% endblock %}
{% block inner_content %}
    <tr>
        <td class="content-block">
            Hi {{ tour.guide.first_name }},
        </td>
    </tr>
    <tr>
        <td class="content-block">
			This is just a reminder that you have {% if tour.source == 'Comp' %}a comp model{% else %}{{ tour.source|an }} {{ tour.source }}{% endif %} tour tomorrow at {{ tour.time|date:"g:i A" }}.
        </td>
    </tr>
    {% if tour.source == 'Information Office' %}
	    <tr>
	        <td class="content-block">
	        	Please arrive on time at the front Info Office. If you're running late, call or text Kendyl at 617-888-3722.
	        </td>
	    </tr>
	{% endif %}
    {% if tour.notes %}
	    <tr>
	        <td class="content-block">
	        	<p><em>Extra Notes: </em>{{ tour.notes }}</p>
	        </td>
	    </tr>
	{% endif %}
    <tr>
        <td class="content-block">
            Thanks!
        </td>
    </tr>
    {% if tour.notes %}
	    <tr>
	        <td class="content-block">
	        	<p><em>Note: Tours should be assumed to go on, even in inclement weather, unless told otherwise by a Tour Coordinator.</em></p>
	        </td>
	    </tr>
	{% endif %}
{% endblock %}