@import "variables.less";
@import "fonts.less";

body
{
	padding-top:50px;
}

.key
{
	height: 18px;
	width: 40px;
	background: url('/static/app/img/key.png') no-repeat;
}

.logo
{
	height: 41px;
	width: 35px;
	background: url('/static/app/img/logo-small.png') no-repeat;
	margin-top:-10px;
	margin-bottom:-10px;
}

html, body, .container
{
  height:100%;
}

h1
{
  font-size:38px;
  display:block;
  text-align:center;
}

.button_container
{
	display:block;
	width:100%;
	text-align:center;
	margin-top:15px;
	
	button
	{
		margin:auto;
		border:0;
	}
}



.circle-container
{
  height:50px;
  weight:50px;
}

.circle
{
  @size: 50px;
  width:@size !important;
  height:@size !important;
  border-radius:@size/2;
  font-size:@size/2;
  line-height:@size;
  color:#fff;
  padding:0;
  text-align:center;
  background:@cks-red;
  border:0;

  &:hover
  {
    background:darken(@cks-red, 10%) !important;
    color:#fff !important;
  }
}

.circle-left
{
  float:left;

  i
  {
    margin-top:12px;
    margin-right:2px;
  }
}

.circle-right
{
  float:right;

  i
  {
    margin-top:12px;
    margin-left:2px;
  }
}