.form-container
{
	width:100%;
	display:block;

	form.tour-form, form.initialize-form
	{	
		width:50%;
		margin:20px auto !important;
		padding-bottom:20px;
	}
	
	text-align:center;
}

.form-group
{
	text-align:left;
}