@import "variables.less";
@import "fonts.less";


.requirement_circle
{
  @size: 13px;
  width:@size !important;
  height:@size !important;
  border-radius:@size/2;
  font-size:@size/2;
  line-height:@size;
  color:#fff;
  padding:0;
  text-align:center;
  float:left;
  margin-left:1px;

  &.empty
  {
    background:transparent;
    border: 1px solid black;
  }

  &.upcoming
  {
    background: @upcoming-color;
  }

  &.complete
  {
    background: @brand-success !important;
  }

  &.missed
  {
    background:@missed-color;
  }

  &.late
  {
    background:@late-color;
  }
}