@gray: #dfdfdf;
@gray-darker: #aaa;
@cks-red: #c0282e;

@ultra-light-fonts: 'Helvetica Neue Ultra Light', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
@myriad-pro-fonts:  "Myriad Pro", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif;
@helvetica-neue-fonts: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
@condensed-fonts: 'Helvetica Neue Condensed', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;

@xes: url('/static/app/img/x.png') repeat;

@calendar-border-radius: 7px;