@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneue-roman-webfont.woff") format('woff'), url('../fonts/helveticaneue-roman-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneuebold-webfont.woff") format('woff'), url('../fonts/helveticaneuebold-webfont.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue Ultra Light";
  src: url("../fonts/helveticaneueultralight-webfont.woff") format('woff'), url('../fonts/helveticaneueultralight-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/helveticaneue-condensed-webfont.woff") format('woff'), url('../fonts/helveticaneue-condensed-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "Helvetica Neue Condensed";
  src: url("../fonts/helveticaneue-boldcond-webfont.woff") format('woff'), url('../fonts/helveticaneue-boldcond-webfont.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/helveticaneue-light-webfont.woff") format('woff');
  font-weight: bold;
}
body {
  padding-top: 50px;
}
.key {
  height: 18px;
  width: 40px;
  background: url('../img/key.png') no-repeat;
}
.logo {
  height: 41px;
  width: 35px;
  background: url('../img/logo-small.png') no-repeat;
  margin-top: -10px;
  margin-bottom: -10px;
}
html,
body,
.container {
  height: 100%;
}
h1 {
  font-size: 38px;
  display: block;
  text-align: center;
}
.button_container {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.button_container button {
  margin: auto;
  border: 0;
}
.circle-container {
  height: 50px;
  weight: 50px;
}
.circle {
  width: 50px !important;
  height: 50px !important;
  border-radius: 25px;
  font-size: 25px;
  line-height: 50px;
  color: #fff;
  padding: 0;
  text-align: center;
  background: #c0282e;
  border: 0;
}
.circle:hover {
  background: #961f24 !important;
  color: #fff !important;
}
.circle-left {
  float: left;
}
.circle-left i {
  margin-top: 12px;
  margin-right: 2px;
}
.circle-right {
  float: right;
}
.circle-right i {
  margin-top: 12px;
  margin-left: 2px;
}
.confirm-container {
  display: block;
  width: 100%;
}
.confirm-container .panel {
  width: 65%;
  margin: 20px auto;
}
.confirm-container .panel .btn-block {
  margin-top: 15px;
}
.confirm-container ul {
  margin-top: 10px;
  display: block;
  list-style-type: none;
}
.key table {
  width: 100%;
}
.key table tr {
  height: 30px;
}
.key table tr td:first-child {
  width: 25%;
}
.key div.key-canceled {
  width: 57px;
  height: 24px;
  background: url('../img/x.png') repeat #dfdfdf;
}
.key span.key-unclaimed {
  background: #ff0000;
  color: #ffffff;
  padding: 3px;
}
.key span.key-unclaimed-ineligible {
  background: transparent;
  color: #ff0000;
  padding: 3px;
}
.key span.key-claimed {
  background: #5bc0de;
  color: #ffffff;
  padding: 3px;
}
.key span.key-claimed-ineligible {
  background: transparent;
  color: #5bc0de;
  padding: 3px;
}
.key span.key-unclaimed-edit {
  color: #ff0000;
  padding: 3px;
}
.key span.key-late {
  padding: 3px;
  color: #da912a;
}
.key span.key-late {
  padding: 3px;
  color: #da912a;
}
.key span.key-missed {
  padding: 3px;
  color: #d9534f;
}
.key div.key-tours-allowed {
  width: 40px;
  height: 40px;
  background: #c0282e;
}
.key div.key-tours-canceled {
  width: 40px;
  height: 40px;
  background: #dfdfdf;
}
.select-month-row {
  display: table-row;
}
.select-month-row a {
  text-decoration: none;
  color: #000;
  line-height: 30px;
  padding: 15px;
  text-align: center;
  display: table-cell;
}
.select-month-row a:hover,
.select-month-row a.active {
  color: #fff;
  background: #c0282e;
  text-decoration: none;
}
.edit-month-key span {
  font-weight: bold;
}
.edit-month-key div.key-canceled {
  width: 42px;
}
.select-month-container {
  display: table;
  margin: auto;
}
.btn-block:not(:first-child) {
  margin-top: 10px !important;
  clear: both;
}
.roster-key table tr td:first-child {
  width: 10% !important;
}
.btn-container {
  margin-top: 20px;
  text-align: center;
}
.icon-google {
  width: 14px;
  height: 21px;
  background: url('../img/google-g.png');
  float: left;
}
.icon-border {
  height: 21px;
  border-right: 1px dotted #fff;
  float: left;
  margin: 0 5px;
}
.login-btn {
  padding: 10px;
  margin-top: 20px;
}
body.login {
  padding: 0;
}
.login-logo-container,
.login-btn-container {
  text-align: center;
}
.login-logo-container {
  margin-top: 50px;
}
.add_default_semester_container {
  display: block;
  text-align: center;
  width: 100%;
}
.edit-btn {
  color: black;
}
.edit-btn:hover {
  color: #c0282e;
}
